<?xml version='1.0' encoding='utf-8'?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="Backup_Users" connectionString="Data Source =  gsbackup.greenspot.fi;
                                            user id =  gsusers;
                                            database = Greenspot;
                                            password = pricelessness;"
         providerName = "System.Data.SqlClient" />
  </connectionStrings>

</configuration>


